<!–- base layout for tic_tac_toe -–>
{% load i18n %}
{% load static %}


<head>
    <title>tic-tac-toe</title>
    <link rel="stylesheet" href="{% static 'tic_tac_toe/tic_tac_toe.css' %}">
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'tic_tac_toe/tic_tac_toe.js' %}"></script>
</head>


<body>
    <!–- title -–>
    <h1>Tic-Tac-Toe</h1>
    <br style="line-height:2;">


    <!–- prompt message -–>
    <h2>
        {% block prompt %}
        {% endblock %}
    </h2>
    <br style="line-height:2;">


    <!–- grid -–>
    {% block grid %}
    {% endblock %}
    <br style="line-height:2;">


    <!–- legend -–>
    <h2>
        {% block legend %}
        {% endblock %}
    </h2>
    <br style="line-height:2;">


    <!–- reset button -–>
    <h2>
        <a href="{% url 'index' %}">Reset</a>
    </h2>
    <br style="line-height:2;">


    <!–- historical data -–>
    {% block history %}
    {% endblock %}
</body>
