<!–- base layout for tic_tac_toe -–>
{% load i18n %}
{% load static %}

<head>
    <title>tic-tac-toe</title>
    <link rel="stylesheet" href="{% static 'tic_tac_toe/tic_tac_toe.css' %}">
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'tic_tac_toe/tic_tac_toe.js' %}"></script>
</head>

<body>
    <!–- game header -–>
    <h1>Tic-Tac-Toe</h1>
    <br><br><br><br>

{#    <!–- answer word and player progress -–>#}
{#    Your word is...#}
{#    <h2>Your move, {{ current_player }}. </h2>#}

    <!–- player input and result -–>
    <div class="input_block">
    {% block content %}
    {% endblock %}

    {% block progress %}
    {% endblock %}
    </div>

{#    <div class='grid' id="cells"></div>#}
{#    <script>#}
{#        window.onload = makeAjaxCallGrid;#}
{#        function makeAjaxCallGrid() {#}
{#            jQuery.ajax({#}
{#                type: "GET",#}
{#                url: "{% url 'getCellIds' %}",#}
{#                headers: {#}
{#                    "X-CSRFToken": "{{ csrf_token }}"#}
{#                },#}
{#                success: function (data) {#}
{#                    $.each(data, function(index, value) {#}
{#                        $(value).appendTo($("#cells"));#}
{#                    })#}
{#                },#}
{#                error: function (data) {#}
{#                    alert("Error response:\n" + data);#}
{#                }#}
{#            });#}
{#        }#}
{#    </script>#}


{#    <br>#}
{#    <div class='grid' id="cells"></div>#}
{##}
{#    <script>#}
{#        window.onload=makeAjaxCallGrid;#}
{#        function makeAjaxCallGrid() {#}
{#            jQuery.ajax({#}
{#                type: "GET",#}
{#                url: "{% url 'getCellIds' %}",#}
{#                headers: {#}
{#                    "X-CSRFToken": "{{ csrf_token }}"#}
{#                },#}
{#                success: function (data) {#}
{#                    $.each(data, function(index, value) {#}
{#                        $(value).appendTo($("#cells"));#}
{#                    })#}
{#                },#}
{#                error: function (data) {#}
{#                    alert("Error: Ajax call failed.");#}
{#                }#}
{#            });#}
{#        }#}
{#    </script>#}

{#    <!–- list of incorrect guesses -–>#}
{#    Incorrect guesses#}
{#    <br>#}
{#    <strong class="loss">{{ incorrect_guesses }}</strong>#}
{#    <br><br>#}

{#    <!–- number of free guesses turns red whenever it is three or less -–>#}
{#    Free guesses remaining#}
{#    <br>#}
{#    {% if free_guesses_remaining > 3 %}#}
{#        <div class="win">#}
{#    {% else %}#}
{#        <div class="loss">#}
{#    {% endif %}#}
{#         <strong>{{ free_guesses_remaining }}</strong>#}
{#    </div>#}
{#    <br><br>#}

    <!–- reset button -–>
    <a href="{% url 'index' %}">Reset</a>
{#    <form action="{% url 'index' %}">#}
{#        <input type="submit" value="Reset" />#}
{#    </form>#}

</body>