<!–- base template -–>
{% extends 'tic_tac_toe/index.html' %}


<!–- prompt message -–>
{% block prompt %}
    Player <span id="nextPlayer">0</span>'s move.
{% endblock %}


<!–- grid where player makes move -–>
{% block grid %}
{#    <h2>Player <span id="nextPlayer">0</span>'s move.</h2>#}
{#    <br style="line-height:5;">#}

    {#    <div id="cell_ids"></div>#}

    {#This belongs to base.html#}
    {# ------------------------------------------------ #}
    <div class='grid' id="cells"></div>
    <script>
        window.onload = makeAjaxCallGrid;
        function makeAjaxCallGrid() {
            jQuery.ajax({
                type: "GET",
                url: "{% url 'make_grid' %}",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (result) {
                    $.each(result, function(index, value) {
                        $(value).appendTo($("#cells"));
                    })
                },
                error: function (result) {
                    alert("Error response:\n" + result);
                }
            });
        }
    </script>

    {# ------------------------------------------------ #}
    <script>
        var marks = ["cross", "circle"];

        function makeMark(playerId, cellId) {
            var html = '<div id=mark></div>';
            var mark = marks[playerId];
            document.getElementById(cellId).outerHTML = html.replace('mark', mark);
        }

        function makePrompt(nextPlayer) {
            document.getElementById("nextPlayer").innerHTML = nextPlayer;
        }

        function makeAjaxCall(cellId) {
            $.ajax({
                type: "POST",
                url: "{% url 'make_move' %}",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                data: {
                    "cell_id": cellId
                },
                dataType: 'json',
                success: function (result) {
                    makeMark(result.currentPlayer, cellId);
                    makePrompt(result.nextPlayer);
                },
                error: function (result) {
                    alert("Error response:\n" + result);
                    window.location.href = "{% url 'game_over' %}";
                }
            });
        }
    </script>


    {# ------------------------------------------------ #}
{#    <div onclick="getDb()" id="db">DB</div>#}
{#    <script>#}
{#        function getDb() {#}
{#            jQuery.ajax({#}
{#                type: "GET",#}
{#                url: "{% url 'showModels' %}",#}
{#                headers: {#}
{#                    "X-CSRFToken": "{{ csrf_token }}"#}
{#                },#}
{#                success: function (data) {#}
{#                    jQuery("#db").html(data);#}
{#                },#}
{#                error: function (data) {#}
{#                    alert('error');#}
{#                    alert("Error response:\n" + data);#}
{#                }#}
{#            });#}
{#        }#}
{#    </script>#}

{% endblock %}