<!–- base template -–>
{% extends 'tic_tac_toe/base.html' %}


<!–- prompt message -–>
{% block prompt %}
    {% include 'tic_tac_toe/turn.html' %}
{% endblock %}


<!–- grid where player makes move -–>
{% block grid %}
    {% include 'tic_tac_toe/grid.html' %}
{#    <div class='grid' id="cells"></div>#}
{#    <script>#}
{#        window.onload = makeAjaxCallGrid;#}
{#        function makeAjaxCallGrid() {#}
{#            jQuery.ajax({#}
{#                type: "GET",#}
{#                url: "{% url 'make_grid' %}",#}
{#                headers: {#}
{#                    "X-CSRFToken": "{{ csrf_token }}"#}
{#                },#}
{#                success: function (result) {#}
{#                    $.each(result, function(index, value) {#}
{#                        $(value).appendTo($("#cells"));#}
{#                    })#}
{#                },#}
{#                error: function (result) {#}
{#                    alert("Error response:\n" + result);#}
{#                }#}
{#            });#}
{#        }#}

    <script>
        function makeMark(mark, cell_id) {
            var html = '<div id=mark></div>';
            document.getElementById(cell_id).outerHTML = html.replace('mark', mark);
        }

        function makePrompt(mark, name) {
            var html = '<span id=mark></span>';
            document.getElementById("prompt_name").innerHTML = name;
            document.getElementById("prompt_mark").innerHTML = html.replace('mark', mark);
        }

        function makeAjaxCall(cell_id) {
            $.ajax({
                type: "POST",
                url: "{% url 'make_move' %}",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                data: {
                    "cell_id": cell_id
                },
                dataType: 'json',
                success: function (result) {
                    makeMark(result.current_player["mark"], cell_id);

                    if (result.game_result) {
                        window.location.href = "{% url 'game_over' %}";
                    } else {
                        makePrompt(result.next_player["mark"], result.next_player["name"]);
                    }
                },
                error: function (result) {
                    alert("Error response:\n" + result);
                    window.location.href = "{% url 'game_over' %}";
                }
            });
        }
    </script>


    {# ------------------------------------------------ #}
{#    <div onclick="getDb()" id="db">DB</div>#}
{#    <script>#}
{#        function getDb() {#}
{#            jQuery.ajax({#}
{#                type: "GET",#}
{#                url: "{% url 'showModels' %}",#}
{#                headers: {#}
{#                    "X-CSRFToken": "{{ csrf_token }}"#}
{#                },#}
{#                success: function (data) {#}
{#                    jQuery("#db").html(data);#}
{#                },#}
{#                error: function (data) {#}
{#                    alert('error');#}
{#                    alert("Error response:\n" + data);#}
{#                }#}
{#            });#}
{#        }#}
{#    </script>#}

{% endblock %}


<!–- legend that shows which player uses which symbol -–>
{% block legend %}
    {% include 'tic_tac_toe/legend.html' %}
{% endblock %}