<!–- base template -–>
{% extends 'tic_tac_toe/base.html' %}


<!–- form where player enters name -–>
{% block prompt %}
    {% include 'tic_tac_toe/form.html' %}
{% endblock %}


<!–- grid where player will make move -–>
{% block grid %}
    <div class='grid' id="cells"></div>
    <script>
        window.onload = makeAjaxCallGrid;
        function makeAjaxCallGrid() {
            jQuery.ajax({
                type: "GET",
                url: "{% url 'make_grid' %}",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (result) {
                    $.each(result, function(index, value) {
                        $(value).appendTo($("#cells"));
                    })
                },
                error: function (result) {
                    alert("Error response:\n" + result);
                }
            });
        }
    </script>
{% endblock %}