<!–- page displayed when game is in session -–>
{% extends 'tic_tac_toe/index.html' %}
{% block content %}
    <h2>Your move, {{ currentPlayer }}.</h2>
    <h2><div id="testAjax"></div></h2>
    <br>
    <div class='grid' id="cells">
        <div onclick="makeAjaxCall('cell1');" id='cell1'></div>
        <div onclick="makeAjaxCall('cell2');" id='cell2'></div>
        <div onclick="makeAjaxCall('cell3');" id='cell3'></div>
        <div onclick="makeAjaxCall('cell4');" id='cell4'></div>
        <div onclick="makeAjaxCall('cell5');" id='cell5'></div>
        <div onclick="makeAjaxCall('cell6');" id='cell6'></div>
        <div onclick="makeAjaxCall('cell7');" id='cell7'></div>
        <div onclick="makeAjaxCall('cell8');" id='cell8'></div>
        <div onclick="makeAjaxCall('cell9');" id='cell9'></div>
    </div>

    <script>
        var marks = ["cross", "circle"];

        function makeMark(playerId, cellId) {
            var str = '<div id=mark></div>';
            var mark = marks[playerId];
            document.getElementById(cellId).outerHTML = str.replace('mark', mark);
        }

        function makePrompt(nextPlayer) {
            document.getElementById("nextPlayer").innerHTML = nextPlayer;
        }

        function makeAjaxCall(cellId) {
            jQuery.ajax({
                type: "GET",
                url: "{% url 'getCurrentPlayer' %}",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (data) {
                    makeMark(data.currentPlayer, cellId);
                    makePrompt(data.nextPlayer);
                },
                error: function (data) {
                    alert("Error: Ajax call failed.");
                }
            });
        }

        {#function makeAjaxCall() {#}
        {#    $.ajax({#}
        {#        type: 'POST',#}
        {#        url: '{% url "progress2" %}',#}
        {#        data: {#}
        {#            'currentPlayer': 1#}
                    {#'currentPlayer': {{ currentPlayer }},#}
        {#        },#}
        {#        headers: {#}
        {#            'X-CSRFToken': '{{ csrf_token }}',#}
        {#            'X-Requested-With': 'XMLHttpRequest'#}
        {#        },#}
        {#        success: function (data) {#}
                    {#alert('success');#}
        {#            $("#testAjax").html(data);#}
                    {#$("#testAjax").html(data);#}
        {#        },#}
        {#        error: function (data) {#}
        {#            alert('error');#}
        {#        }#}
        {#    });#}
        {#}#}
    </script>
{% endblock %}

{% block script %}
    <script>
        window.onload = makeAjaxCallGrid;
        function makeAjaxCallGrid() {
            jQuery.ajax({
                type: "GET",
                url: "{% url 'make_grid' %}",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (result) {
                    $.each(result, function(index, value) {
                        $(value).appendTo($("#cells"));
                    })
                },
                error: function (result) {
                    alert("Error response:\n" + result);
                }
            });
        }
    </script>
    <script>
        $(document).on('submit', 'form.dynamic-form', function(form) {
            var $form = $(form);
            $.ajax({
                type: form.method,
                url: form.action,
                data: $form.serialize(),
                success: function(data) {
                    $form.replace(data);
                }
            });
        });
    </script>
{% endblock %}