/* CSS for tic_tac_toe */


/* ----------------------------------- */
.grid {
    background-color: darkslategray;
    display: grid;
    width: 20em;
    height: 20em;
    grid-gap: 0.5em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: end; /* removes left padding when width isn't evenly divided */
    margin: auto;
}

.grid > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    font-size: 4em;
    cursor: pointer;
}


/* ----------------------------------- */
/* IMPORTANT: modify config.MARKS if changing element id names */
#circle:before {
    content: "\2B55";
    color: transparent;
    text-shadow: 0 0 0 indianred;
}

#cross:before {
    content: "\274C";
    color: transparent;
    text-shadow: 0 0 0 mediumseagreen;
}


/* ----------------------------------- */
a:link, a:visited {
    color: darkslategray;
    text-decoration: none;
}

a:active, a:hover {
    color: crimson;
    text-decoration: none;
}


/* ----------------------------------- */
body {
    color: darkslategray;
    background-color: whitesmoke;
    font-family: Copperplate, sans-serif;
    text-align: center;
    align-items: center;
}

h2 {
    height: 1em;
}

input {
   text-align: center;
}